body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #6ba5e6;
}

.search-container {
    display: flex;
    align-items: center;
    background-color: #fff;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    border: 1px solid #000;
    height: 20px;
    width: 500px;

}

#search-input {
    border: 1px solid #0b0b0b;
    padding: 10px;
    border-radius: 5px 0 0 5px;
    outline: none;
    width: 150px;
    border-left: none;
    border: none;
}

#search-options {
    padding: 10px;
    border-radius: 0;
    outline: none;
    border-radius: 20px;
    border: none;
    width: 150px;
    background-color: #b22366;
    margin-right: 20px;
}

#c {
    background-color: white;
}

#glass {
    margin-left: -30px;
    color: #b22366;
}

/* #search-options:hover {
    background-color: #7a244c;
} */